.elements {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    background-color: var(--navbar-background);
}

.elements_name {
    display: none;
    color: var(--font-color);
    font-size: 0.8rem;
}

.navbar {
    display: flex;
    position: fixed;
    left: 0;
    height: 100%;
    flex-direction: row;
    z-index: 1;
    &:hover {
        .elements_name {
            display: block;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--navbar-background);
}

@media screen and (min-width:1080px) {
    .button {
        display: none;
    }
}

@media screen and (max-width:1080px) {
    .elements { 
        display: none;
    }
    .elements_name {
        display: block;
    }
}

.elements_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    padding: 1rem;
}

.elements_item:hover {
    background-color: var(--tertiary-background);
}

.active {
    display: flex;
}

.icon {
    font-size: 1rem;
    color: var(--font-color);
}