@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--main-color);
}

:root {
    --footer-color: #131313;
    --main-color: #1F1F1F;
    --secondary-color: #401256;
    --tertiary-color: #320e42;
    --default-text-color: #ffffff;
    --text-color: #61048c;
    --secondary-text-color: #a0a0a0;
    --android-text-color: rgb(0, 140, 0);
    --ios-text-color: #cfcfcf;
    
}