.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background: rgb(65,4,93);
    background: linear-gradient(0deg, rgba(65,4,93,1) 0%, rgba(64,18,86,1) 100%);
    border-radius: 5%;
    color: var(--default-text-color);
    gap: 10px;
    max-width: 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    color: var(--secondary-text-color);
}

.list {
    list-style-type: none;
}

.list_element {
    display: flex;
    align-items: center;
}

.list_element_icon {
    color: var(--text-color);
    margin-right: 4px;
}

.button {
    background-color: transparent;
    border: 1px solid var(--text-color);
    color: var(--default-text-color);
    padding: 5px;
}

.button:hover {
    filter: brightness(120%);
    cursor: pointer;
}