@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
--background-color_1: #3a6eb3;
--background-color_2: #B0D7FF;
--font-color: #EAE8FF;
--box-color: #424d6180;
}

.home-page {    
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, var(--background-color_1), var(--background-color_2));
    width: 100vw;
    height: 100vh;
}

.home-page-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--box-color);
    padding: 20px;
}

.content {
    color: var(--font-color);
    font-size: 2rem;
}

.logout {
    background-color: transparent;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--font-color);
    color: var(--font-color);
    font-size: 1rem;
    cursor: pointer;
}